* {
    padding: 0;
    margin: 0;
    font-family: "Open sans", sans-serif;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("https://img.freepik.com/free-vector/abstract-digital-grid-vector-black-background_53876-111550.jpg");
    background-size: cover;
  }
  
  .countainer {
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
  }
  
  .countainer .card {
    position: relative;
    max-width: 300px;
    height: 215px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgb(0, 0, 0, 0, 5);
    transition: 0.3s ease-in-out;
  }
  .countainer .card:hover {
    height: 420px;
  }
  
  .countainer .card .imgBx {
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  }
  
  .countainer .card .imgBx img {
    max-width: 100%;
    border-radius: 4px;
  }
  
  .countainer .card .content {
    position: relative;
    margin-top: -140;
    padding: 20px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
  }
  
  .countainer .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
  }
  